automated_exchange_confirmation.json
[{"id":"1322b8c0.3d0597","type":"tab","label":"Automated Exchange Confirmation","disabled":false,"info":""},{"id":"1d437957.dcd577","type":"function","z":"1322b8c0.3d0597","name":"Exchange Confirmation","func":"\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":120,"wires":[["5f52ce88.7520b"]]},{"id":"5f52ce88.7520b","type":"switch","z":"1322b8c0.3d0597","name":"Error Check","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Error","vt":"str"},{"t":"eq","v":"Success","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":120,"wires":[["3edff0b6.f5b5"],["d478892c.fdc738"]]},{"id":"d478892c.fdc738","type":"function","z":"1322b8c0.3d0597","name":"Receive and End Transaction","func":"\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":180,"wires":[["6c37b7ce.cf33c8"]]},{"id":"6c37b7ce.cf33c8","type":"switch","z":"1322b8c0.3d0597","name":"Error Check","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Error","vt":"str"},{"t":"eq","v":"Success","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":180,"wires":[["3edff0b6.f5b5"],["72dc0995.b3fa88"]]},{"id":"72dc0995.b3fa88","type":"function","z":"1322b8c0.3d0597","name":"Retrieve PNR","func":"\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":240,"wires":[["17eca212.f6399e"]]},{"id":"17eca212.f6399e","type":"switch","z":"1322b8c0.3d0597","name":"Error Check","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Error","vt":"str"},{"t":"eq","v":"Success","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":240,"wires":[["3394ab4f.812fd4"],["af32f394.55a22"]]},{"id":"af32f394.55a22","type":"function","z":"1322b8c0.3d0597","name":"Issue Air Ticket","func":"\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":300,"wires":[["ef981aae.9c96b8"]]},{"id":"ef981aae.9c96b8","type":"switch","z":"1322b8c0.3d0597","name":"Error Check","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Error","vt":"str"},{"t":"eq","v":"Success","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":300,"wires":[["3394ab4f.812fd4"],["306662e2.68f0fe"]]},{"id":"306662e2.68f0fe","type":"function","z":"1322b8c0.3d0597","name":"Receive and End Transaction","func":"\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":360,"wires":[["c3ec0838.6052f8"]]},{"id":"c3ec0838.6052f8","type":"switch","z":"1322b8c0.3d0597","name":"Error Check","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Error","vt":"str"},{"t":"eq","v":"Success","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":360,"wires":[["3394ab4f.812fd4"],["3443bb61.974b34"]]},{"id":"d0e751d6.cfe15","type":"function","z":"1322b8c0.3d0597","name":"Exchange Comparison","func":"\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":120,"wires":[["1d437957.dcd577"]]},{"id":"3edff0b6.f5b5","type":"function","z":"1322b8c0.3d0597","name":"Ignore Transaction","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":120,"wires":[["3443bb61.974b34"]]},{"id":"3443bb61.974b34","type":"function","z":"1322b8c0.3d0597","name":"Close Session","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1240,"y":360,"wires":[["b4303bda.0f9238"]]},{"id":"3394ab4f.812fd4","type":"function","z":"1322b8c0.3d0597","name":"Email Air@","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":240,"wires":[["3edff0b6.f5b5"]]},{"id":"776d3290.8e4bfc","type":"link in","z":"1322b8c0.3d0597","name":"","links":[],"x":95,"y":120,"wires":[["d0e751d6.cfe15"]]},{"id":"b4303bda.0f9238","type":"link out","z":"1322b8c0.3d0597","name":"","links":[],"x":1355,"y":360,"wires":[]}]