automated_exchange_comparison.json
[{"id":"5122d5d5.b24a3c","type":"tab","label":"Automated Exchange Comparison","disabled":false,"info":""},{"id":"9f2a66b8.5d5348","type":"function","z":"5122d5d5.b24a3c","name":"Change AAA","func":"\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":120,"wires":[["defd0345.73c1f"]]},{"id":"86644091.52c56","type":"function","z":"5122d5d5.b24a3c","name":"Retrieve PNR","func":"\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":180,"wires":[["7278a0d6.fa9c4"]]},{"id":"7278a0d6.fa9c4","type":"switch","z":"5122d5d5.b24a3c","name":"Error Check","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Error","vt":"str"},{"t":"eq","v":"Success","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":180,"wires":[["17ef70d3.19659f"],["c8f45f2.1b2ffa"]]},{"id":"c8f45f2.1b2ffa","type":"function","z":"5122d5d5.b24a3c","name":"Check Segment Status","func":"\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":240,"wires":[["176ec619.068e4a"]]},{"id":"17ef70d3.19659f","type":"function","z":"5122d5d5.b24a3c","name":"Ignore Transaction","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":120,"wires":[["78956ba9.a597a4"]]},{"id":"176ec619.068e4a","type":"switch","z":"5122d5d5.b24a3c","name":"Error Check","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Error","vt":"str"},{"t":"eq","v":"Success","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":240,"wires":[["17ef70d3.19659f"],["c2b15984.9f2cb8"]]},{"id":"c2b15984.9f2cb8","type":"function","z":"5122d5d5.b24a3c","name":"Cancel Itinerary","func":"\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":300,"wires":[["e61918de.771cb8"]]},{"id":"4b869f3d.674e5","type":"function","z":"5122d5d5.b24a3c","name":"Create Session","func":"\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":120,"wires":[["9f2a66b8.5d5348"]]},{"id":"e61918de.771cb8","type":"switch","z":"5122d5d5.b24a3c","name":"Error Check","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Error","vt":"str"},{"t":"eq","v":"Success","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":300,"wires":[["17ef70d3.19659f"],["720447bf.c52908"]]},{"id":"720447bf.c52908","type":"function","z":"5122d5d5.b24a3c","name":"Book Segments","func":"\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":360,"wires":[["1864cd19.db4c03"]]},{"id":"1864cd19.db4c03","type":"switch","z":"5122d5d5.b24a3c","name":"Error Check","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Error","vt":"str"},{"t":"eq","v":"Success","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":360,"wires":[["17ef70d3.19659f"],["23704c92.fe75b4"]]},{"id":"23704c92.fe75b4","type":"function","z":"5122d5d5.b24a3c","name":"Exchange Comparison","func":"\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":420,"wires":[["4a067ce2.dbbb54"]]},{"id":"4a067ce2.dbbb54","type":"switch","z":"5122d5d5.b24a3c","name":"Error Check","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Error","vt":"str"},{"t":"eq","v":"Success","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":420,"wires":[["17ef70d3.19659f"],["f8e2ece.e0c5f1"]]},{"id":"f8e2ece.e0c5f1","type":"switch","z":"5122d5d5.b24a3c","name":"User Choice","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Reject","vt":"str"},{"t":"eq","v":"Accept","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":420,"wires":[["17ef70d3.19659f"],["20575c52.e0cc64"]]},{"id":"78956ba9.a597a4","type":"function","z":"5122d5d5.b24a3c","name":"Close Session","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1220,"y":120,"wires":[[]]},{"id":"defd0345.73c1f","type":"switch","z":"5122d5d5.b24a3c","name":"Error Check","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Error","vt":"str"},{"t":"eq","v":"Success","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":120,"wires":[["17ef70d3.19659f"],["86644091.52c56"]]},{"id":"20575c52.e0cc64","type":"function","z":"5122d5d5.b24a3c","name":"Exchange Confirmation","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":420,"wires":[[]]}]