NodeRED/automated_exchange_highpoint_process.json
[{"id":"3e1e8dbd.519922","type":"tab","label":"Automated Exchange HP Process","disabled":false,"info":""},{"id":"8796e52f.76aca8","type":"file in","z":"3e1e8dbd.519922","name":"","filename":"PNR","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":110,"y":160,"wires":[["603541a8.17159"]]},{"id":"603541a8.17159","type":"file in","z":"3e1e8dbd.519922","name":"","filename":"Contract","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":250,"y":160,"wires":[["e09d357a.f823c8"]]},{"id":"2ef08efe.f4d2f2","type":"function","z":"3e1e8dbd.519922","name":"Translate New Itinerary","func":"\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":220,"wires":[["c9bd58a3.469578"]]},{"id":"c9bd58a3.469578","type":"function","z":"3e1e8dbd.519922","name":"Automated Exchange Comparison","func":"\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":280,"wires":[["b621ff8a.f9e7c"]]},{"id":"b621ff8a.f9e7c","type":"switch","z":"3e1e8dbd.519922","name":"User Choice","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Reject","vt":"str"},{"t":"eq","v":"Accept","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":280,"wires":[["18927288.66432d"],["b77c7b66.f81b48"]]},{"id":"f1d58d29.640c","type":"function","z":"3e1e8dbd.519922","name":"Close Interface","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":760,"wires":[[]]},{"id":"b77c7b66.f81b48","type":"function","z":"3e1e8dbd.519922","name":"Passenger Selection","func":"\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":340,"wires":[["ddfb6933.9cb0f8"]]},{"id":"ddfb6933.9cb0f8","type":"function","z":"3e1e8dbd.519922","name":"Divide PNR","func":"\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":400,"wires":[["6024b726.b82308"]]},{"id":"6024b726.b82308","type":"function","z":"3e1e8dbd.519922","name":"Automated Exchange Comparison","func":"\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":460,"wires":[["a916a277.edaf8"]]},{"id":"a916a277.edaf8","type":"function","z":"3e1e8dbd.519922","name":"Automated Exchange Confirmation","func":"\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":520,"wires":[["78220a70.84dd14"]]},{"id":"e09d357a.f823c8","type":"function","z":"3e1e8dbd.519922","name":"Open Interface","func":"\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":160,"wires":[["2ef08efe.f4d2f2"]]},{"id":"18927288.66432d","type":"function","z":"3e1e8dbd.519922","name":"Close Session","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":280,"wires":[["f1d58d29.640c"]]},{"id":"2adab904.631ef6","type":"function","z":"3e1e8dbd.519922","name":"Create Contract","func":"\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":640,"wires":[["58cc05a1.969c3c"]]},{"id":"58cc05a1.969c3c","type":"function","z":"3e1e8dbd.519922","name":"Create REN","func":"\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":700,"wires":[["d589214c.658ca"]]},{"id":"1765ac8f.1b1d23","type":"function","z":"3e1e8dbd.519922","name":"Close Session","func":"\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":580,"wires":[["2adab904.631ef6"]]},{"id":"78220a70.84dd14","type":"switch","z":"3e1e8dbd.519922","name":"More Passengers","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"},{"t":"eq","v":"False","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":580,"wires":[["6024b726.b82308"],["1765ac8f.1b1d23"]]},{"id":"d589214c.658ca","type":"switch","z":"3e1e8dbd.519922","name":"More Passengers","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"},{"t":"eq","v":"False","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":760,"wires":[["58cc05a1.969c3c"],["f1d58d29.640c"]]}]